@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800&display=swap');
@import "modal";


* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1920px;
  font-family: 'Montserrat', sans-serif;
}



.wrraper {
  position: absolute;
  width: 100%;
  height: 5310px;

  .header {
    /* header */
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;

    .header__city-name {
      display: none;
    }

    .header__logo {
      margin: auto;
      background-image: url("../img/HELYFLY2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 130px;
      height: 23px;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .header__phone-number {
      margin: auto;
      font-size: 14px;
      color: #B3B3B3;

      span {
        color: #37373F;
      }
    }

    .header__user-icon {
      display: none;
      width: 20px;
      height: 20px;
      margin-right: 15px;
      background-image: url("../img/icons/Фигура 679.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

    }

  }

  .reservation {
    position: relative;
    width: 100%;
    height: 840px;
    display: flex;
    background-image: url("../img/helimain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .reservation__block {
      max-width: 887px;
      width: 100%;
      display: block;
      flex-direction: column;
      margin: auto;
      padding: 15px;

      .reservation__description {
        position: relative;
        margin: 0 0 29px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;

        span {
          color: #fc9b09;
        }
      }

      .reservation__price-block {
        position: relative;
        margin: 0 0 24px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 224px;
        height: 84px;
        padding: 11px 22px;
        background: #FC9B09;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;


        .price-block__price {
          width: 50%;

          .price-text {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;
          }

          .price-count {
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            line-height: 53px;
            color: #FFFFFF;
          }
        }

        .precent-icon {
          width: 52px;
          height: 52px;
          margin: 0 0 0 35px;
          border-radius: 50%;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25), 0 4px 15px rgba(255, 255, 255, 0.25);
          font-style: normal;
          font-weight: 800;
          font-size: 35px;
          line-height: 53px;
          padding: 0 10px;
          /* or 53px */
          color: #FFFFFF;

        }
      }

      .reservation__button {
        position: relative;

        button {
          width: 304px;
          height: 68px;
          border: 3px solid #FFFFFF;
          box-sizing: border-box;
          box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25), 0 4px 70px rgba(255, 255, 255, 0.7);
          border-radius: 3px;
          background-color: transparent;
          padding: 24px 37px;
          font-style: normal;
          font-weight: 900;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #FFFFFF;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .main {
    position: relative;
    max-width: 1140px;
    margin: 0 auto 82px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;

    .main__description {
      width: 100%;
      margin-top: 70px;
      display: flex;
      flex-direction: row;

      .main__description__left-block {
        width: 50%;
        font-style: normal;
        color: #37373F;

        .description__left-block__text {
          h1 {
            font-weight: 500;
            font-size: 40px;
            line-height: 49px;
            margin-bottom: 18px;
          }

          p {
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 29px;
          }
        }

        .description__left-block__advantages {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 35px;
          border-bottom: 0.5px solid #C7C7C7;

          .descriptions-advantages__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 25px;


            .advantages-item__icon__1,
            .advantages-item__icon__2,
            .advantages-item__icon__3,
            .advantages-item__icon__4 {
              width: 40px;
              height: 40px;
              background-size: auto;
              background-position: center;
              background-repeat: no-repeat;
              margin-right: 8px;
            }

            .advantages-item__icon__1 {
              background-image: url("../img/icons/Group 9.png");
            }

            .advantages-item__icon__2 {
              background-image: url("../img/icons/Group 9 (1).png");
            }

            .advantages-item__icon__3 {
              background-image: url("../img/icons/map-pin-marked.png");
            }

            .advantages-item__icon__4 {
              background-image: url("../img/icons/speech-bubble.png");
            }
          }
        }

        .block__reviews {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 30px;
          border-bottom: 0.5px solid #C7C7C7;

          .reviews__icon {
            width: 32px;
            height: 36px;
            margin-right: 10px;
            background-image: url("../img/icons/Groupcup.png");
            background-size: auto;
          }

          .reviews__text {
            font-size: 18px;
            margin-right: 14px;

            span {
              font-weight: 500;
            }
          }

          .reviews__stars {
            width: 120px;
            height: 18px;
            background-image: url("../img/svg/Group 8.3.svg");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;

          }
        }
      }

      .main__description__right-block {
        width: 50%;

        .description__video-block {
          position: relative;
          max-width: 554px;
          height: 374px;
          border-radius: 4px;
          background-image: url("../img/video-preview.png");
          background-size: auto;
          background-position: center;
          background-repeat: no-repeat;

          .player {
            width: 100%;
            height: 100%;
            display: none;
            &.player_visible {
              display: block;
            }
          }

          a {
            display: block;
            width: 100%;
            height: 100%;

            img {
              position: absolute;
              right: 41px;
              bottom: 29px;
              width: 15px;
              height: 23px;

            }
          }
        }
      }
    }

    .main__photogallery {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .main__photogallery__head {
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 37px;
      }

      .main__photogallery__content {
        width: 100%;
        display: flex;
        margin-bottom: 35px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        .photogallery__content__item-1,
        .photogallery__content__item-2,
        .photogallery__content__item-3,
        .photogallery__content__item-4,
        .photogallery__content__item-5,
        .photogallery__content__item-6,
        .photogallery__content__item-7,
        .photogallery__content__item-8 {
          width: 277px;
          height: 185px;
          margin-bottom: 10px;
        }

        .photogallery__content__item-1 {
          background-image: url("../img/85_3841762622319533577_n (2).png");
        }

        .photogallery__content__item-2 {
          background-image: url("../img/64379962_2432401366817580_2945589636799915800_n.png");
        }

        .photogallery__content__item-3 {
          background-image: url("../img/65740721_117001152915158_8041420183655632697_n.png");
        }

        .photogallery__content__item-4 {
          background-image: url("../img/first.png");
        }

        .photogallery__content__item-5 {
          background-image: url("../img/64379962_2432401366817580_2945589636799915800_n.png");
        }

        .photogallery__content__item-6 {
          background-image: url("../img/first.png");
        }

        .photogallery__content__item-7 {
          background-image: url("../img/65740721_117001152915158_8041420183655632697_n.png");
        }

        .photogallery__content__item-8 {
          background-image: url("../img/85_3841762622319533577_n (2).png");
        }
      }

      .main__photogallery__footer {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 0.5px solid #C7C7C7;
        margin-bottom: 37px;

        .photogallery__footer__all-photo-btn {
          margin-bottom: 27px;

          a {
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 25px;
            color: #5286EC;
          }
        }
      }
    }

    .main__about {
      width: 100%;
      margin-bottom: 50px;

      .main__about-organizer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 0.5px solid #C7C7C7;

        .main__about-organizer__left,
        .main__about-organizer__right {
          width: 50%;
        }

        .main__about-organizer__left {
          font-style: normal;

          .left__item {
            margin-bottom: 40px;

            .left__item__head {
              margin-bottom: 14px;
              font-weight: 500;
              font-size: 18px;
              line-height: 26px;
            }

            .left__item__text {
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 10px;
            }

            .left__item__read-more {
              a {
                text-decoration: none;
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                color: #5286EC;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

        }

        .main__about-organizer__right {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 30px;
          font-style: normal;

          .right__photograph-info__heart-icon {
            width: 31px;
            height: 27px;
            background-image: url("../img/svg/Vectorheart.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            position: absolute;
            right: 140px;
            top: 16px;
          }

          .right__photograph-info__avatar {
            width: 139px;
            height: 139px;
            margin-bottom: 23px;
            background-image: url("../img/Ellipse.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
          }

          .right__photograph-info__name {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #37373F;
            margin-bottom: 11px;
          }

          .right__photograph-info__profession {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #37373F;
            margin-bottom: 7px;
          }

          .right__photograph-info__more-info {
            text-align: center;
            max-width: 290px;

            a {
              text-decoration: none;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;

              color: #5286EC;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }


      }


    }

    .main__shuting-date {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-style: normal;

      .shuting-date__head {
        max-width: 288px;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 30px;
      }

      .shuting-date__picker {
        max-width: 770px;
        height: 458px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;

        .shuting-date__picker__day {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 25px 30px;
          border-bottom: 1px solid #C7C7C7;

          p {
            font-weight: normal;
            font-size: 18px;
            color: #37373F;
            margin-right: 15px;
          }

          .picker__day__calendar-icon {
            width: 35px;
            height: 35px;
            background-image: url("../img/svg/Group 5.3.svg");
          }
        }

        .shuting-date__picker-time {
          display: flex;
          justify-content: space-between;
          padding: 20px 30px;
          border-bottom: 1px solid #C7C7C7;

          &:nth-child(3) {
            border: none;
            margin-bottom: 40px;
          }

          .shuting-date__picker-time__left {
            display: flex;
            flex-direction: column;

            .shuting-date__picker-time__time {
              font-weight: normal;
              font-size: 18px;
              line-height: 26px;
              color: #37373F;
              margin-bottom: 10px;
            }

            .shuting-date__picker-time__price {
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              /* identical to box height */
              color: #37373F;
              margin-bottom: 10px;
            }

            .shuting-date__picker-time__places-left {
              font-weight: normal;
              font-size: 18px;
              line-height: 26px;
              color: #37373F;
            }
          }

          .shuting-date__picker-time__right {
            display: flex;
            align-items: center;

            button {
              width: 129px;
              height: 50px;
              background: #FFFFFF;
              border: 2px solid #FC9B09;
              box-sizing: border-box;
              border-radius: 3px;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #FC9B09;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .block__reviews {
          display: flex;
          padding-left: 30px;
          flex-direction: row;
          align-items: center;
          padding-bottom: 30px;

          .reviews__icon {
            width: 32px;
            height: 36px;
            margin-right: 10px;
            background-image: url("../img/icons/Groupcup.png");
            background-size: auto;
          }

          .reviews__text {
            font-size: 18px;
            margin-right: 14px;

            span {
              font-weight: 500;
            }
          }

          .reviews__stars {
            width: 120px;
            height: 18px;
            background-image: url("../img/svg/Group 8.3.svg");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;

          }
        }
      }

    }
  }

  .map {
    position: relative;
    width: 100%;
    height: 510px;
    margin-bottom: 131px;

    #map {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .shuting-information {
      position: absolute;
      left: 390px;
      top: 20px;
      padding: 50px 30px;
      max-width: 420px;
      height: 470px;
      background: #FFFFFF;
      border: 1px solid #C7C7C7;
      box-sizing: border-box;
      font-style: normal;

      li {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 34px;

        .shuting-information__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 18px;
          width: 61px;
          height: 61px;
          background-color: #FC9B09;
          border-radius: 50%;
          font-weight: bold;
          font-size: 35px;
          color: #FFFFFF;
        }

        .flex__right-block {
          font-size: 18px;
          line-height: 26px;
          color: #37373F;

          .shuting-information__ask {
            font-weight: 500;
            margin-bottom: 15px;
          }

        }

      }

      .shuting-information__photograph-info {
        .flex__left-block {
          .shuting-information__photograph-info_avatar {
            margin-right: 18px;
            width: 61px;
            height: 61px;
            border-radius: 50%;
            background-image: url("../img/Ellipse.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        .flex__right-block {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;

          .shuting-information__photograph-info_name {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            color: #37373F;
          }

          .shuting-information__photograph-info_profession {
            font-size: 16px;
          }

          .shuting-information__photograph-info_more-info {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */
            color: #5286EC;

            a:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .reviews-block {
    max-width: 1140px;
    margin: 0 auto 47px;
    padding: 15px;

    .reviews-block__head {
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      color: #37373F;
    }

    .reviews-block__reviews-items {

      .reviews-block__reviews-items_review-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 30px;

        .review-item__avatar {
          width: 101px;
          height: 101px;
        }

        .avatar-1 {
          background-image: url("../img/Ellipse12.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .avatar-2 {
          background-image: url("../img/Ellipse (1).png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .avatar-3 {
          background-image: url("../img/Ellipse (2).png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .review-item__data {
          max-width: 530px;
          padding: 10px 0 35px;
          border-bottom: 0.5px solid #C7C7C7;
          margin-left: 20px;

          .review-item__data__name {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            color: #37373F;
            margin-bottom: 10px;
          }

          .review-item__data__proffesion {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #37373F;
            margin-bottom: 10px;
          }

          .review-item__data__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;

            .review-item__data__stars {
              width: 120px;
              height: 18px;
              margin-right: 50px;
              background-image: url("../img/svg/Group 8.3.svg");
              background-size: auto;
              background-position: center;
              background-repeat: no-repeat;
            }

            .review-item__data__icon {
              width: 15px;
              height: 11.5px;
              margin-right: 5px;
              background-image: url("../img/svg/Vector 2.3.svg");
              background-size: auto;
              background-position: center;
              background-repeat: no-repeat;
            }

            .review-item__data__text {
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */
              color: #B3B3B3;
            }

          }

          .review-item__text {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #37373F;
            margin-bottom: 22px;
          }

          .review-item__date {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #B3B3B3;
          }
        }
      }

    }

    .reviews-block__show-all {
      text-align: center;
      padding-top: 17px;

      a {
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: #5286EC;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    width: 100%;
    padding: 15px;

    .footer__social-media {
      max-width: 1140px;
      width: 100%;
      height: 100px;
      display: flex;
      margin: auto;
      justify-content: space-between;
      align-items: flex-start;

      .footer__logo {
        background-image: url("../img/HELYFLY2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 130px;
        height: 23px;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .footer__sm-icons {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          display: block;
          width: 100%;
          height: 100%;

          &:hover {
            cursor: pointer;
          }
        }

        .sm-icons__vk {
          width: 26px;
          height: 16px;
          margin-right: 30px;
          background-image: url("../img/icons/vkvk.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .sm-icons__facebook {
          width: 26px;
          height: 26px;
          margin-right: 30px;
          background-image: url("../img/icons/Facebookfb.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .sm-icons__instagram {
          width: 26px;
          height: 26px;
          margin-right: 30px;
          background-image: url("../img/icons/Instragram.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

      }

      .footer__language {

      }
    }

    .footer__copyright {
      max-width: 1140px;
      width: 100%;
      height: 90px;
      display: flex;
      align-items: center;
      margin: auto;


      .footer__card {
        display: flex;
        flex-direction: row;

        .card__icon_mastercard {
          width: 39px;
          height: 25px;
          margin-right: 20px;
          background-image: url("../img/icons/MC.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .card__icon_visa {
          width: 39px;
          height: 25px;
          background-image: url("../img/icons/VISA.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .footer__copyright-text {
        margin: auto;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #B3B3B3;

        p {
          margin-bottom: 7px;
        }
      }
    }
  }
}

@import "mobile";