
.modal {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 63, 0.51);
  z-index: 999;
  &.modal-open {
    display: flex;
  }

  .modal__window {
    position: relative;
    top: 230px;
    width: 615px;
    height: 887px;
    background: #FFFFFF;
    padding: 22px 23px;

    .modal__window__close-btn {
      width: 100%;
      height: 32px;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      .close {
        position: absolute;
        width: 32px;
        height: 32px;
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }

        &:before, &:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 33px;
          width: 2px;
          background-color: #333;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }

    .modal__window__head {
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: #37373F;
      margin-bottom: 32px;
    }

    .modal__window__form {
      max-width: 420px;
      margin: auto;

      span {
        color: #c94042;
      }

      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
      }

      input[type=date],
      input[type=email],
      input[type=text],
      input[type=tel],
      input[type=num] {
        width: 100%;
        height: 44px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 3px;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
        padding: 13px 20px;
        margin: 10px 0;
        &::-webkit-inner-spin-button { background-color: transparent; }
        &::-webkit-calendar-picker-indicator { background-color: transparent; }
      }

      .form__card-data {
        .form__card-data__number {
          input {
            margin: 0;
            box-sizing: border-box;

            &:nth-child(2) {
              margin-top: 10px;
            }

            &:nth-child(3),
            &:nth-child(4) {
              width: 49.4%;
            }
          }
        }
      }
      .form__public-offer {
        margin: 10px 0 23px;
      }
      .form__to-book-btn {
        display: flex;
        justify-content: center;
        input[type=submit] {
          width: 390px;
          height: 72px;
          background-color: #fc9b09;
          color: #FFFFFF;
          border-radius: 3px;
          outline: none;
          border: none;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}